<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Todopopo</title>
	<link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}" charset="utf-8"/>
	<script src="../../static/js/main.js" th:src="@{/js/main.js}"></script>
</head>
<body>
	<h1>Todo List</h1>
	<div class="todo-list">
		<div th:each="todo : ${todoList}" th:remove="tag">
			<div th:replace="todo/entry :: todo(${todo})">Foo</div>
		</div>
	</div>
	<div>
		<form name="todoForm" action="/" method="post">
			<input type="text" name="title" autofocus=""/>
			<input type="date" name="duedate"/>
			<input type="hidden" name="offset"/>
			<input type="submit" value="Add"/>
		</form>
	</div>
</body>
</html>
